@font-face {
	font-family: 'Porto';
	src: url('../font/Porto400.ttf');
}

@font-face {
	font-family: 'Moon';
	src: url('../font/Moon2.0-Regular.otf');
}
/*.navbar-default,*/
h3 {
	font-family: 'Porto';
	margin-top: 51px;
}

.banner,
.info,
.education,
.work,
.skills,
.portfolio {
	/*border: 1px solid black;*/
	text-align: center;
}

.banner,
.info,
.education,
.work,
.skills,
.portfolio,
.navbar {
	font-family: 'Moon';
}

.work {
	margin-bottom: 50px;
}

div.content{
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 51px;
}

div.content>div.container-fluid {
	/*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
}

span.infodetail,
span.educdetail,
span.workdetail {
	color: red;
}

.workdiv div,
.education div {
	margin-bottom: 15px;
	/*border-bottom: 1px solid black;*/
}

.portfolio div	{
	margin: 20px 0;
}

div.container-fluid {
	width: 80%;
}

.navbar	{
	background-color: #00695c;
}


.navbar-default .navbar-nav>li>a,
.navbar-brand {
	color: #FFF;
}

.portfoliodetail img {
	width: 150px;
}

.profpic	{
	width: 60%;
	margin: 0 auto;
/*	display: flex;
	flex: wrap;*/
}

.banner	{
	width: 30%;
}

.profpic {
	width: 100px;
	border-radius: 10px;
}

.navbar-brand {
	color: white;
	font-family: 'Porto';
}

.company {
	color: blue;
}